<footer id="footer">
    <div class="inner">
        <section>
            <h2>İletişime Geçin</h2>
            <form method="post" action="#">
                <div class="fields">
                    <div class="field half">
                        <input type="text" name="İsim" id="name" placeholder="İsim" />
                    </div>
                    <div class="field half">
                        <input type="email" name="email" id="email" placeholder="Email" />
                    </div>
                    <div class="field">
                        <textarea name="message" id="Mesaj" placeholder="Mesaj"></textarea>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="Gönder" class="primary" /></li>
                </ul>
            </form>
        </section>
        <section>
            <h2>Bize Ulaşın</h2>
            <ul class="icons">
                <li><a href="https://wa.me/90555555555555" class="icon brands style2 fa-whatsapp"><span class="label">Whatsapp</span></a>Whatsapp Üzerinden Ulaşın.</li>
                <li><a href="#" class="icon solid style2 fa-solid fa-map"><span class="label">Map</span></a>Türkiye</li><br>
                <li><a href="tel:555555555" class="icon solid style2 fa-phone"><span class="label">Telephone</span></a>0 555 555 55 55</li><br>
                <li><a href="mailto:x@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a>x@gmail.com</li>
            </ul>
        </section>
        <ul class="copyright">
            <li>&copy; Phantom Beauty House. All rights reserved</li>
        </ul>
    </div>
</footer>

</div>


<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>