<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Phantom Beauty House</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		
			<div id="wrapper">

				
					<header id="header">
						<div class="inner">

							
								<a href="/" class="logo">
									<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Phantom Beauty House</span>
								</a>

						
								<nav>
									<ul>
										<li><a href="#menu">Menü</a></li>
									</ul>
								</nav>

						</div>
					</header>

				
					<nav id="menu">
						<h2>Menü</h2>
						<ul>
							<li><a href="/">Anasayfa</a></li>
							<li>
								<a href="#hizmetler" class="toggle-hizmetler">Hizmetlerimiz</a>
								<ul class="submenu">
									<li><a href="/protez-tirnak">Protez Tırnak</a></li>
									<li><a href="/makyaj">Normal Makyaj</a></li>
									<li><a href="/kalici-makyaj">Kalıcı Makyaj</a></li>
									<li><a href="/cilt-bakim">Cilt Bakım</a></li>
									<li><a href="/vip-cilt-bakim">VIP Cilt Bakım</a></li>
									<li><a href="/agda">Ağda</a></li>
									<li><a href="/manikur-pedikur">Manikür-Pedikür</a></li>
									<li><a href="/lazer-epilasyon">Lazer Epilasyon</a></li>
									<li><a href="/bolgesel-zayiflama">Bölgesel Zayıflama</a></li>
								</ul>
							</li>
							<li><a href="/hakkimizda">Hakkımızda</a></li>
						</ul>
					</nav>