<%- include('partials/header') -%>
					
				
					<div id="main">
						<div class="inner">
							<header>
								<h1>Phantom Beauty House'a<br />
								Hoşgeldiniz</h1>
                               
								<section>
									<h2>Neden Phantom Beauty House?</h2>
									<p>Phantom Beauty House, kaliteli hizmet anlayışı ve müşteri memnuniyeti ile öne çıkıyor. Uzman ekibimiz, güzellik ve bakım alanındaki en son trendleri takip ederek size özel çözümler sunar. Sağlık ve estetik dengesini gözeten hizmetlerimizle, hem iç hem dış güzelliğinizi ön plana çıkarıyoruz.</p>
									<p>Unutmayın, güzellik yolculuğunuzda en doğru adres Phantom Beauty House! Sizi, güzellik ve bakım dünyamızda ağırlamaktan mutluluk duyarız.</p>
								</section>
                                <button><a href="tel:055555555555"><i class="fa fa-phone"></i> Hemen Arayın</a></button>
							</header><br>
						
							<h2 id="hizmetler" style="text-align: center;">Hizmetlerimiz</h2>
							<main>
								<section>
									<h2>Ağda Hizmetleri</h2>
									<p>Ağda, ciltteki istenmeyen tüylerden kurtulmanın en etkili yollarından biridir. Phantom Beauty House'ta sunduğumuz ağda hizmetleri, cildinize zarar vermeden, pürüzsüz bir görünüm elde etmenizi sağlar. Uyguladığımız doğal ürünlerle, cildinizin hassasiyetini gözetiyor ve en iyi sonucu almanızı sağlıyoruz.</p>
									<button class="details-button" onclick="location.href='/services/agda'">Ağda Hizmetlerimizin Detayları</button>
								</section>
					<br>
								<section>
									<h2>Cilt Bakım Hizmetleri</h2>
									<p>Cilt bakımında uzmanlaşmış ekibimiz, cilt tipinize uygun ürün ve tekniklerle cildinizi canlandırır. Cilt bakım paketlerimiz, derinlemesine temizlik, nemlendirme ve beslenme sağlayarak cildinizin sağlıklı ve parlak görünmesine yardımcı olur. VIP cilt bakım hizmetlerimizle ise lüks bir deneyim yaşarken, cildinizi şımartabilirsiniz.</p>
									<button class="details-button" onclick="location.href='/services/cilt-bakimi'">Cilt Bakım Hizmetlerimizin Detayları</button><br>
								</section>
					<br>	
								<section>
									<h2>VIP Cilt Bakım Hizmetleri</h2>
									<p>VIP cilt bakım hizmetlerimiz, lüks ve konfor içinde, cildinizi şımartmak için özel olarak tasarlanmıştır. Uzman estetikçilerimiz, cildinizin ihtiyaçlarına yönelik kişiselleştirilmiş uygulamalar sunarak, en iyi sonuçları elde etmenizi sağlar. Bu deneyim, hem ruhunuzu hem de cildinizi tazeler.</p>
									<button class="details-button" onclick="location.href='/services/vip-cilt-bakimi'">VIP Cilt Bakım Hizmetlerimizin Detayları</button>
								</section>
					<br>			
								<section>
									<h2>Makyaj Hizmetleri</h2>
									<p>Özel günlerinizde mükemmel görünmek için profesyonel makyaj hizmetimizden faydalanabilirsiniz. Phantom Beauty House, trendleri takip eden makyaj artistleri ile istediğiniz tarzda makyaj uygulamaları sunmaktadır. Ayrıca, kalıcı makyaj hizmetimizle gözbebeğinizi, kaşlarınızı ve dudaklarınızı her zaman mükemmel bir şekilde görünür kılabilirsiniz.</p>
									<button class="details-button" onclick="location.href='/services/makyaj'">Makyaj Hizmetlerimizin Detayları</button><br>
								</section>
				    <br>		
								<section>
									<h2>Kalıcı Makyaj Hizmetleri</h2>
									<p>Kalıcı makyaj hizmetimizle, gözbebeğinizi, kaşlarınızı ve dudaklarınızı her zaman mükemmel bir şekilde görünür kılabilirsiniz. Bu uygulama sayesinde, sabahları zaman kazanırken doğal ve çekici bir görünüm elde edersiniz.</p>
									<button class="details-button" onclick="location.href='/services/kalici-makyaj'">Kalıcı Makyaj Hizmetlerimizin Detayları</button>
								</section>
					<br>	
								<section>
									<h2>Lazer Epilasyon Hizmetleri</h2>
									<p>İstenmeyen tüylerden kalıcı olarak kurtulmak istiyorsanız, lazer epilasyon hizmetimiz ideal bir seçimdir. Alanında uzman teknisyenlerimiz, güvenli ve etkili lazer teknolojisi ile en iyi sonuçları elde etmenizi sağlar. Lazer epilasyon, cildinize zarar vermeden uzun süreli pürüzsüzlük sağlar.</p>
									<button class="details-button" onclick="location.href='/services/lazer-epilasyon'">Lazer Epilasyon Hizmetlerimizin Detayları</button><br>
								</section>
					<br>
								<section>
									<h2>Bölgesel Zayıflama Hizmetleri</h2>
									<p>Vücut şekillendirme hedeflerinize ulaşmak için sunduğumuz bölgesel zayıflama hizmetleri, yağ birikimlerini hedef alarak daha ince ve fit bir görünüm elde etmenizi sağlar. Son teknoloji cihazlarla gerçekleştirilen bu uygulamalar, sağlıklı bir yaşam tarzı ile birleştiğinde etkili sonuçlar doğurur.</p>
									<button class="details-button" onclick="location.href='/services/bolgesel-zayiflama'">Bölgesel Zayıflama Hizmetlerimizin Detayları</button><br>
								</section>
					<br>	
								<section>
									<h2>Protez Tırnak Hizmetleri</h2>
									<p>Güzel eller ve ayaklar, genel görünümünüzün önemli bir parçasıdır. Phantom Beauty House, kaliteli malzemelerle uygulanan protez tırnak hizmeti ile hayalinizdeki tırnaklara sahip olmanızı sağlar. </p>
									<button class="details-button" onclick="location.href='/services/protez-tirnak'">Protez Tırnak Hizmetlerimizin Detayları</button><br>
								</section>
					<br>	
								<section>
									<h2>Manikür ve Pedikür Hizmetleri</h2>
									<p>Manikür ve pedikür uygulamalarımız, hem estetik hem de hijyenik bir bakım sunarak sizi rahatlatır ve tazeler. Sağlıklı ve güzel tırnaklara sahip olmak için profesyonel ekibimizle hizmetinizdeyiz.</p>
									<button class="details-button" onclick="location.href='/services/manikur-pedikur'">Manikür ve Pedikür Hizmetlerimizin Detayları</button>
								</section>
			        
								
							</main>
						</div>
					</div>

				
					<%- include('partials/footer') -%>